* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #6718bb;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.4;
  font-size: 16px;
  height: 100vh;
}

#main {
  border-radius: 5px;
  margin: 0 50px;
}

header {
  font-size: 2em;
  font-weight: bold;
  margin: 20px;
}

#main div:first-child {
  padding-top: 10px;
  margin-bottom: 0;
}

h2 {
  text-align: center;
  margin-bottom: 10px;
}

p {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
  margin-bottom: 10px;
}

.row {
  display: flex;
  width: 100%;
}

.col {
  /* max-width: 760px; */
  width: 100%;
  display: block;
  display: grid;
  grid-template-columns: 30% 70%;
  /* margin: 0 auto;
  margin-top: 30px; */
}

.col-5 h2 {
  padding-top: 10px;
  padding-bottom: 15px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input {
  margin-bottom: 30px;
}

.estimates {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}

.estimates .region,
.estimates .covid19-impact,
.estimates .covid19-severe-impact {
  padding-left: 40px;
}

.estimates h2 {
  margin-top: 0;
  text-align: left;
}

#main {
  background-color: #ffffff;
  display: block;
}

/* .covid19-impact p,
.covid19-severe-impact p {
  font-weight: 600;
} */

.dow {
  display: flex;
  justify-content: center;
  margin: 10px 0;
  width: 100%;
}

form select {
  width: 100%;
  padding: 15px;
  margin: 10px auto;
  border: 1px solid #c0c0c0;
  border-radius: 4px;
}

form input {
  width: 100%;
  padding: 15px;
  margin: 10px auto;
  border: 1px solid #c0c0c0;
  border-radius: 4px;
}

form label {
  flex: 0 0 90%;
}

#submit {
  background-color: #5d61ef;
  border-radius: 4px;
  color: white;
  font-size: 1em;
  height: 40px;
  width: 90%;
  margin: 20px 10px 10px 10px;
  border: 0px solid;
}


@media screen and (max-width: 768px) {
  .row {
    display: flex;
    justify-content: center;
  }

  .col {
    width: 100%;
  }

  form label,
  form input {
    width: 100%;
  }

  #submit {
    width: 90%;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 576px) {
  #main {
    margin: 0 20px;
  }

  .estimates .region {
    padding-left: 20px;
  }

  /* .estimates .covid19-impact,
.estimates .covid19-severe-impact {
  padding-left: 20px;
} */

  .col {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .estimates {
    display: flex;
    flex-direction: column;
  }

  .estimates .covid19-impact {
    padding-left: 20px;
    margin-top: 20px;
  }

  .estimates .covid19-severe-impact {
    padding-left: 20px;
    margin-top: 30px;
  }
}

@media screen and (max-width: 375px) {
  #main {
    margin: 0 10px;
  }

  .estimates .region {
    padding-left: 20px;
  }

  .estimates .covid19-impact,
  .estimates .covid19-severe-impact {
    padding-left: 20px;
  }
}